--
-- PostgreSQL database dump
--

\restrict Wj1CJrqKMjiH60FVqclajxWTDcUZGNAQwS2GWiCiz3zfa7iRgezoH7Fn8ahGkIk

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

-- Started on 2025-10-27 18:45:45 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- TOC entry 4129 (class 0 OID 19018)
-- Dependencies: 214
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4166 (class 0 OID 29130)
-- Dependencies: 251
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.audit_log (id, user_id, action, entity_type, entity_id, old_values, new_values, reference_id, ip_address, user_agent, additional_data, "timestamp") FROM stdin;
\.


--
-- TOC entry 4150 (class 0 OID 19335)
-- Dependencies: 235
-- Data for Name: location; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.location (location_id, code, name, type, created_at) FROM stdin;
da144db1-ca31-451b-9c52-6450da5221f9	RMS	Raw Material Store	STORAGE	2025-09-23 14:36:02.937
3e40d427-2704-49ae-a819-da9585c9b7f3	PF	Production Floor	PRODUCTION	2025-09-23 14:36:02.943
f0ced9d0-1766-40c6-b075-49b60554b647	FGS	Finished Goods Store	STORAGE	2025-09-23 14:36:02.946
0776b603-2caa-4c3f-8384-624dbaf72b1f	SY	Scrap Yard	SCRAP	2025-09-23 14:36:02.952
main-store-001	MAIN_STORE	Main Store	STORAGE	2025-09-23 18:17:05.115
\.


--
-- TOC entry 4132 (class 0 OID 19187)
-- Dependencies: 217
-- Data for Name: uom; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.uom (uom_id, code, name) FROM stdin;
bdb9c233-4f88-4867-b657-e756a076b256	PCS	Pieces
5ef8e910-f60b-4b47-9bfb-d8f2d78100c0	KG	Kilograms
88ed7640-5f9e-47c3-882c-a9bfbfbe0744	MM	Millimeters
54c52a65-8b9e-49ed-a538-72a33bb7a25a	INCH	Inches
\.


--
-- TOC entry 4134 (class 0 OID 19203)
-- Dependencies: 219
-- Data for Name: material; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4130 (class 0 OID 19171)
-- Dependencies: 215
-- Data for Name: oem; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.oem (oem_id, oem_name, created_at) FROM stdin;
afcc3db8-b40d-4f0e-9df4-0bab4b365222	Ghandhara Industries Ltd	2025-09-23 14:36:02.87
adeb6cad-2089-40c0-ac11-0dbad50f0fc4	Ghandara Automobiles Ltd	2025-10-13 04:13:48.692
649bc929-1e21-4ee9-aa79-7a4d856d66c3	Hinopak	2025-10-13 10:20:31.822
\.


--
-- TOC entry 4131 (class 0 OID 19179)
-- Dependencies: 216
-- Data for Name: model; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4133 (class 0 OID 19194)
-- Dependencies: 218
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4137 (class 0 OID 19225)
-- Dependencies: 222
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4139 (class 0 OID 19242)
-- Dependencies: 224
-- Data for Name: supplier; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.supplier (supplier_id, code, name, contact, phone, email, address, lead_time_days, created_at) FROM stdin;
test-supplier-001	SUP-001	Test Supplier Ltd	John Doe	555-0123	john@testsupplier.com	\N	\N	2025-09-23 19:12:59.13
91ef6f5d-6975-416d-a262-0aed7c2f2afb	SUP-002	ABC Company	ALI	122313332	contact@supplier.com	123 Business St, City, State 12345	7	2025-09-24 08:16:28.869
68aba47c-e9dc-4430-9c0a-da454021ee8b	sup-002	ABC Company	ALI	122313332	contact@supplier.com	abc street	7	2025-09-24 08:16:58.482
\.


--
-- TOC entry 4167 (class 0 OID 29138)
-- Dependencies: 252
-- Data for Name: batch; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.batch (batch_id, inventory_id, batch_no, quantity, unit_cost, expiry_date, supplier_id, received_date, quality_status, status, created_by, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4168 (class 0 OID 29149)
-- Dependencies: 253
-- Data for Name: batch_consumption; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.batch_consumption (consumption_id, batch_id, quantity, wo_id, reference, created_by, consumption_date) FROM stdin;
\.


--
-- TOC entry 4177 (class 0 OID 37363)
-- Dependencies: 262
-- Data for Name: blank_optimization; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4153 (class 0 OID 19359)
-- Dependencies: 238
-- Data for Name: blank_spec; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4135 (class 0 OID 19211)
-- Dependencies: 220
-- Data for Name: bom; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4183 (class 0 OID 37566)
-- Dependencies: 268
-- Data for Name: bom_explosion_log; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4195 (class 0 OID 53882)
-- Dependencies: 280
-- Data for Name: bom_substitution_rules; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.bom_substitution_rules (id, product_id, sub_assembly_name, primary_material_id, substitute_material_id, priority, uom_factor, min_thickness, min_grade, cost_impact_pct, quality_impact, approval_required, active, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4201 (class 0 OID 54036)
-- Dependencies: 287
-- Data for Name: client_ordered_materials; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.client_ordered_materials (id, so_id, material_id, quantity, cost, supplier_id, po_id, expected_delivery, status, created_at) FROM stdin;
fce7caaf-7dbf-45d1-aeaa-a3ce7afd7da6	SO-001	0e30fbb7-5302-4ce4-9498-e8db979fd3e1	30.0000	15000.0000	supplier-001	\N	2025-10-29	pending	2025-10-22 14:22:32.635139
b01d7b29-9b3c-4bea-b4bb-a7472c7e6494	SO-001	crc-3mm-001	30.0000	18000.0000	supplier-002	\N	2025-11-01	pending	2025-10-22 14:22:32.63511
\.


--
-- TOC entry 4191 (class 0 OID 46144)
-- Dependencies: 276
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4187 (class 0 OID 37639)
-- Dependencies: 272
-- Data for Name: dispatch; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.dispatch (dispatch_id, so_id, so_number, customer_name, product_id, product_name, quantity, dispatched_quantity, dispatch_date, dispatch_method, tracking_number, dispatched_by, status, notes, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4160 (class 0 OID 19447)
-- Dependencies: 245
-- Data for Name: dispatch_order; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.dispatch_order (dispatch_id, dispatch_no, so_id, customer_id, location_id, vehicle_no, driver_name, dispatch_date, created_at, created_by, status) FROM stdin;
\.


--
-- TOC entry 4161 (class 0 OID 19456)
-- Dependencies: 246
-- Data for Name: dispatch_item; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.dispatch_item (di_id, dispatch_id, product_id, qty, uom_id) FROM stdin;
\.


--
-- TOC entry 4140 (class 0 OID 19250)
-- Dependencies: 225
-- Data for Name: purchase_requisition; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4141 (class 0 OID 19259)
-- Dependencies: 226
-- Data for Name: purchase_requisition_item; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.purchase_requisition_item (id, pr_id, product_id, material_id, uom_id, qty_requested, qty_approved) FROM stdin;
\.


--
-- TOC entry 4142 (class 0 OID 19266)
-- Dependencies: 227
-- Data for Name: purchase_order; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4144 (class 0 OID 19285)
-- Dependencies: 229
-- Data for Name: goods_receipt; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4143 (class 0 OID 19276)
-- Dependencies: 228
-- Data for Name: purchase_order_item; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4145 (class 0 OID 19294)
-- Dependencies: 230
-- Data for Name: goods_receipt_item; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4188 (class 0 OID 45803)
-- Dependencies: 273
-- Data for Name: internal_purchase_order; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.internal_purchase_order (ipo_id, po_number, supplier_id, supplier_name, contact_person, contact_phone, supplier_address, supplier_email, supplier_ntn, supplier_strn, order_date, expected_date, status, created_by, notes, created_at, updated_at) FROM stdin;
1dab924c-567c-4af2-8eba-fbd308fe3999	EMCPL-2025-1760337217305-euwcch	\N	Akhtar & co	akhtar 	03413076524					2025-10-13	2025-10-21	PENDING	current-user		2025-10-13 06:33:37.325392+00	2025-10-13 06:33:37.325392+00
\.


--
-- TOC entry 4189 (class 0 OID 45821)
-- Dependencies: 274
-- Data for Name: internal_purchase_order_item; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.internal_purchase_order_item (ipo_item_id, ipo_id, material_id, item_name, description, quantity, unit_price, total_amount, uom_id, created_at) FROM stdin;
dea5d869-4336-4373-8adc-e3108957ed5c	1dab924c-567c-4af2-8eba-fbd308fe3999	\N	steel shee4 t	4 * 8	25.0000	25.0000	625.0000	88ed7640-5f9e-47c3-882c-a9bfbfbe0744	2025-10-13 06:33:37.325392+00
\.


--
-- TOC entry 4164 (class 0 OID 21633)
-- Dependencies: 249
-- Data for Name: procurement_request; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4146 (class 0 OID 19301)
-- Dependencies: 231
-- Data for Name: work_order; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4138 (class 0 OID 19234)
-- Dependencies: 223
-- Data for Name: inventory_txn; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4171 (class 0 OID 29175)
-- Dependencies: 256
-- Data for Name: invoice; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.invoice (invoice_id, invoice_no, po_id, supplier_id, invoice_date, due_date, total_amount, status, payment_terms, payment_method, approved_by, approved_amount, approved_at, created_by, created_at) FROM stdin;
\.


--
-- TOC entry 4172 (class 0 OID 29185)
-- Dependencies: 257
-- Data for Name: invoice_item; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.invoice_item (invoice_item_id, invoice_id, po_item_id, material_id, product_id, quantity, unit_price, total_price) FROM stdin;
\.


--
-- TOC entry 4175 (class 0 OID 37322)
-- Dependencies: 260
-- Data for Name: manual_opening_stock; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.manual_opening_stock (id, period_key, product_id, opening_quantity, created_at, updated_at) FROM stdin;
2	2025-09	01b6e1c7-aa9c-4b05-9445-72c17b4d6500	64.00	2025-10-06 08:26:47.40752	2025-10-06 08:26:47.40752
3	2025-09	d277d247-b962-4e69-a188-441a99fcab91	45.00	2025-10-06 08:26:47.412639	2025-10-06 08:26:47.412639
\.


--
-- TOC entry 4202 (class 0 OID 54046)
-- Dependencies: 288
-- Data for Name: material_allocations; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4199 (class 0 OID 54006)
-- Dependencies: 284
-- Data for Name: material_availability_cache; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.material_availability_cache (material_id, current_stock, reserved_quantity, available_quantity, incoming_quantity, last_updated, cache_expiry) FROM stdin;
0e30fbb7-5302-4ce4-9498-e8db979fd3e1	120.0000	0.0000	120.0000	0.0000	2025-10-22 14:22:32.642213	2025-10-22 15:22:32.642213
paint-001	5.0000	0.0000	5.0000	0.0000	2025-10-22 14:22:32.642344	2025-10-22 15:22:32.642344
fastener-001	100.0000	0.0000	100.0000	0.0000	2025-10-22 14:22:32.642217	2025-10-22 15:22:32.642217
\.


--
-- TOC entry 4165 (class 0 OID 29122)
-- Dependencies: 250
-- Data for Name: material_consumption; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.material_consumption (consumption_id, product_id, material_id, sub_assembly_name, sheet_type, sheet_width_mm, sheet_length_mm, sheet_weight_kg, blank_width_mm, blank_length_mm, blank_thickness_mm, blank_weight_kg, pieces_per_sheet, utilization_pct, total_blanks, consumption_pct, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4182 (class 0 OID 37539)
-- Dependencies: 267
-- Data for Name: material_requisition; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4169 (class 0 OID 29157)
-- Dependencies: 254
-- Data for Name: material_reservation; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.material_reservation (reservation_id, work_order_id, material_id, quantity, priority, status, created_by, reserved_at, released_at, released_by) FROM stdin;
\.


--
-- TOC entry 4152 (class 0 OID 19351)
-- Dependencies: 237
-- Data for Name: operation; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4198 (class 0 OID 53958)
-- Dependencies: 283
-- Data for Name: packaging_priority; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4173 (class 0 OID 29192)
-- Dependencies: 258
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.payment (payment_id, invoice_id, amount, payment_method, payment_status, due_date, paid_date, reference, created_by, created_at) FROM stdin;
\.


--
-- TOC entry 4179 (class 0 OID 37387)
-- Dependencies: 264
-- Data for Name: production_material_consumption; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.production_material_consumption (consumption_id, production_order_id, product_id, blank_spec_id, sub_assembly_name, material_id, planned_quantity, consumed_quantity, scrap_quantity, consumption_type, created_by, created_at, updated_at, updated_by) FROM stdin;
\.


--
-- TOC entry 4157 (class 0 OID 19392)
-- Dependencies: 242
-- Data for Name: production_order; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.production_order (po_id, po_no, product_id, qty_ordered, qty_completed, uom_id, priority, planned_start, planned_end, status, created_by, created_at, produced_inventory_id) FROM stdin;
\.


--
-- TOC entry 4154 (class 0 OID 19367)
-- Dependencies: 239
-- Data for Name: scrap_inventory; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4158 (class 0 OID 19403)
-- Dependencies: 243
-- Data for Name: production_material_usage; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.production_material_usage (usage_id, production_id, product_id, material_id, scrap_id, qty_required, qty_issued, uom_id, created_at) FROM stdin;
\.


--
-- TOC entry 4185 (class 0 OID 37606)
-- Dependencies: 270
-- Data for Name: production_output; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.production_output (output_id, work_order_id, item_id, item_type, item_name, quantity_planned, quantity_good, quantity_rejected, quantity_rework, rejection_reason, recorded_at, recorded_by) FROM stdin;
\.


--
-- TOC entry 4196 (class 0 OID 53915)
-- Dependencies: 281
-- Data for Name: production_recipe_snapshots; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.production_recipe_snapshots (id, work_order_id, product_id, material_id, substitute_material_id, chosen_quantity, substitution_reason, cost_impact, sheet_size, cutting_layout, is_primary, created_at) FROM stdin;
\.


--
-- TOC entry 4159 (class 0 OID 19412)
-- Dependencies: 244
-- Data for Name: production_step; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.production_step (ps_id, production_id, step_no, operation, planned_qty, completed_qty, status, start_time, end_time, remarks) FROM stdin;
\.


--
-- TOC entry 4163 (class 0 OID 21625)
-- Dependencies: 248
-- Data for Name: raw_material; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.raw_material (raw_material_id, material_code, name, description, uom_id, created_at, updated_at) FROM stdin;
1c485b6a-baba-46b8-aa94-126749d73f56	Rm002	Steel ROd		54c52a65-8b9e-49ed-a538-72a33bb7a25a	2025-09-25 16:20:49.757	2025-09-25 16:20:49.757
ef15ec34-0c45-402e-ae31-32551dcb5ade	EMCM009	HRC Sheet	HRC 1220x2440x2.0	88ed7640-5f9e-47c3-882c-a9bfbfbe0744	2025-10-27 11:33:12.951	2025-10-27 11:33:12.951
\.


--
-- TOC entry 4162 (class 0 OID 19463)
-- Dependencies: 247
-- Data for Name: report_schedule; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.report_schedule (report_id, name, cron_expr, last_run, created_at, created_by, params) FROM stdin;
\.


--
-- TOC entry 4136 (class 0 OID 19218)
-- Dependencies: 221
-- Data for Name: routing; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.routing (routing_id, product_id, step_no, operation, work_center, duration, cost_rate, alternative_path_id, created_at, description, is_primary_path, updated_at) FROM stdin;
\.


--
-- TOC entry 4192 (class 0 OID 46159)
-- Dependencies: 277
-- Data for Name: sales_order; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4193 (class 0 OID 46183)
-- Dependencies: 278
-- Data for Name: sales_order_item; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4194 (class 0 OID 46218)
-- Dependencies: 279
-- Data for Name: sales_order_work_order; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.sales_order_work_order (id, sales_order_id, sales_order_item_id, work_order_id, quantity, created_at) FROM stdin;
\.


--
-- TOC entry 4178 (class 0 OID 37376)
-- Dependencies: 263
-- Data for Name: scrap_movement; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.scrap_movement (movement_id, scrap_id, movement_type, quantity, reason, reference, created_by, created_at) FROM stdin;
\.


--
-- TOC entry 4180 (class 0 OID 37434)
-- Dependencies: 265
-- Data for Name: scrap_origin; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4155 (class 0 OID 19376)
-- Dependencies: 240
-- Data for Name: scrap_transaction; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.scrap_transaction (txn_id, scrap_id, txn_type, qty_used, weight_kg, reference, created_at, created_by) FROM stdin;
\.


--
-- TOC entry 4181 (class 0 OID 37462)
-- Dependencies: 266
-- Data for Name: scrap_transaction_log; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4176 (class 0 OID 37342)
-- Dependencies: 261
-- Data for Name: sheet_sizes; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4197 (class 0 OID 53941)
-- Dependencies: 282
-- Data for Name: shortage_alerts; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.shortage_alerts (id, po_id, product_id, alert_type, severity, message, details, status, resolved_at, resolved_by, created_at) FROM stdin;
\.


--
-- TOC entry 4186 (class 0 OID 37625)
-- Dependencies: 271
-- Data for Name: stock_in; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.stock_in (stock_in_id, material_id, material_name, quantity, unit, location, supplier, purchase_order_ref, cost_per_unit, total_cost, received_by, received_date, status, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4156 (class 0 OID 19384)
-- Dependencies: 241
-- Data for Name: stock_ledger; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.stock_ledger (ledger_id, item_type, product_id, material_id, scrap_id, txn_id, txn_type, quantity, unit_cost, total_cost, location_id, reference, created_at, created_by) FROM stdin;
\.


--
-- TOC entry 4200 (class 0 OID 54024)
-- Dependencies: 286
-- Data for Name: strategic_inventory; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.strategic_inventory (material_id, current_stock, safety_stock, reorder_point, economic_order_qty, last_updated) FROM stdin;
paint-001	5.0000	2.0000	3.0000	10.0000	2025-10-22 14:22:32.61914
fastener-001	100.0000	50.0000	75.0000	200.0000	2025-10-22 14:22:32.617962
0e30fbb7-5302-4ce4-9498-e8db979fd3e1	120.0000	10.0000	15.0000	50.0000	2025-10-22 14:22:32.618615
\.


--
-- TOC entry 4170 (class 0 OID 29167)
-- Dependencies: 255
-- Data for Name: three_way_match; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.three_way_match (matching_id, po_id, grn_id, invoice_id, po_item_id, grn_item_id, invoice_item_id, po_quantity, po_unit_price, po_total, grn_quantity, grn_unit_price, grn_total, invoice_quantity, invoice_unit_price, invoice_total, quantity_variance, price_variance, total_variance, quantity_variance_percent, price_variance_percent, total_variance_percent, match_status, exceptions, created_by, matched_at) FROM stdin;
\.


--
-- TOC entry 4148 (class 0 OID 19318)
-- Dependencies: 233
-- Data for Name: work_order_step; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.work_order_step (step_id, wo_id, step_no, routing_id, operation, work_center, assigned_to, planned_qty, start_time, end_time, status, remarks, created_at) FROM stdin;
\.


--
-- TOC entry 4149 (class 0 OID 19327)
-- Dependencies: 234
-- Data for Name: wastage; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.wastage (wastage_id, wo_id, step_id, material_id, reentry_txn_id, quantity, uom_id, location_id, reason, created_at) FROM stdin;
f98b8aea-fbfa-4855-9f64-c548b9ea97d2	635a16b5-58ca-47a8-8c83-f4ac043a4efa	\N	eb4de48b-b67d-41b5-b9b3-1a4ba5b064d6	\N	5	\N	\N	Material cutting waste during production	2025-10-25 21:40:33.823
\.


--
-- TOC entry 4151 (class 0 OID 19343)
-- Dependencies: 236
-- Data for Name: work_center; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4147 (class 0 OID 19311)
-- Dependencies: 232
-- Data for Name: work_order_item; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.work_order_item (id, wo_id, product_id, quantity) FROM stdin;
\.


--
-- TOC entry 4184 (class 0 OID 37582)
-- Dependencies: 269
-- Data for Name: work_order_material_issue; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- TOC entry 4208 (class 0 OID 0)
-- Dependencies: 275
-- Name: customer_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.customer_seq', 3, true);


--
-- TOC entry 4209 (class 0 OID 0)
-- Dependencies: 259
-- Name: manual_opening_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.manual_opening_stock_id_seq', 3, true);


-- Completed on 2025-10-27 18:45:45 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict Wj1CJrqKMjiH60FVqclajxWTDcUZGNAQwS2GWiCiz3zfa7iRgezoH7Fn8ahGkIk

