services:
  postgres:
    image: postgres:15
    container_name: empcl-erp-postgres
    restart: always
    environment:
      POSTGRES_USER: empcl_user
      POSTGRES_PASSWORD: empcl_pass123
      POSTGRES_DB: empcl_erp_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: empcl-erp-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5051:80"
    depends_on:
      - postgres

volumes:
  pgdata:
